{% macro calendarListScripts() %}
<script>
    {% if session.signed_in %}
    var getGoogleCalendarList = function() {
        $.ajax({
            type: 'GET',
            url: '{{ url_for("gcal.get_calendar_list") }}' ,
            success: displayCalendarList,
            error: function(err) {
                console.log(err);
            }
        });
    }

    var refreshGoogleCalendarList = function() {
        $.ajax({
            type: "GET",
            url: "{{ url_for('gcal.refresh_calendar_list') }}",
            success: displayCalendarList,
            error: function(err) {
                console.log(err);
            }
        });
    }

    var displayCalendarList = function(response) {
        if (response.error == true) {
            displayAlerts('error', 'There\'s an error displaying calendars. Try authenticating again?');
            $('#calendars').hide()
            $('#google_authenticate').show()
        }
        if (response.calendars) {        
            var calendars = response.calendars;
            var btn_group_vertical = $('<div/>', {'class': 'btn-group-vertical', 'data-toggle':'buttons'});

            for (var i = 0; i < calendars.length; i++) {
                btn_group_vertical.append('<label class="btn btn-primary"><input type="radio" name="options" id="option1" value="' + calendars[i].calendar_id + '">' + calendars[i].calendar_name + '</label>')
            }
            $('#google_calendar_list').empty().attr('id', '#google_calendars').append(btn_group_vertical);
            return;
        } 
        return displayAlerts('error', 'Sorry! We seem to have encountered an unknown error!');
    }
    {% endif %}
</script>
{%- endmacro %}