Flask==0.10.1
Flask-Sockets==0.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
argparse==1.2.1
google-api-python-client==1.2
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
moment==0.1.4
pymongo==2.6.3
python-dateutil==2.2
pytz==2013.9
requests==2.2.0
six==1.5.2
strict-rfc3339==0.4
times==0.6.2
wsgiref==0.1.2
