html, body {
  height:100%;
  min-height:100%;
  background: silver;
  overflow-x: hidden;
}
.btn-group-vertical {
    width:100%;
    max-height:100%;
}
#ims {
    display: block;
    margin-right: auto;
    margin-left:auto;
}
.modal-body {
    padding-top:10px;
}
.navbar {
    margin-bottom:0px;
    background-color: silver;

}
.nav-tabs {
    margin-bottom:10px;
}
.tab-content {
    margin-bottom:10px;
    overflow-y: auto;
    max-height:100%;
}
.tab-content p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align:center;
}
.tooltip {
    z-index:99999;
    position: fixed;
}
#signout {
    display:inline;
    padding:0px;
    margin-left:5px;
}
#signin {
    margin-top:30px;
}
.col-md-5 button {
    width: 80px;
    height: 60px;
    color: blue;
    background-color: silver;
}
#alerts {
    z-index:9998;
    width:200px;
    position:absolute;
    right:20px;
    top:55px;	
    text-align:center;
}
#alerts .alert {
	margin-bottom:4px;
}
#google_config .alert {
    width:70%;
    margin:0px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:10px;
    padding-left:10px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;

}
#google_config .alert .close {
    right:2px;
}

}
[title] {
	top:10px;
}

#calendar {
    margin-top: 10px;
    height:250px;
    overflow: none;
    padding-left:0px;
    padding-right:0px;
}

#tictac{
    margin-top: 10px;
    height:250px;
}

.event{
    height: 10px;
    font-size: 12px;
}

.centered{

    text-align:center;
    vertical-align:middle;
    line-height:300px; 
    transform:transformY(-50%);  
}

.tic{
    height: 70px;
}

.reset{
    height: 30px;
    width: 70px;
    position:relative;
    left: 40%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width:95%;
    background-color: Silver;   
    flex-wrap:wrap;
}

.flex-item {
    background-color: DeepSkyBlue;
    width: 300px;
    height: 300px;
    margin: 5px;
    cursor: move;
}

.no-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.table {
    height:100%;
}


/*added from layout.html*/
   .gridster * {
          margin:0;
          padding:0;
      }

      ul {
          list-style-type: none;
      }

      .controls {
        margin-bottom: 20px;
    }

/*/
/* gridster
/*/

.gridster ul {
    background-color: silver;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    line-height: 100%;
}

.gridster {
    margin: 0 auto;
    opacity: .8;
    padding-left:3em;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {

}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: rgb(73,143,225) !important;
}

.generic {
    background-color: white;
}
.generic header {
    cursor:pointer;
    padding:10px;
    background-color:#eaeaea;
}
.generic header .close {
    line-height: inherit;
    cursor:default;
    opacity: 0.6;
}
.generic header .option {
    float: right;
    margin-left:10px;
    color:black !important;
    opacity: 0.6;
}
.generic header a:hover {
    opacity: 1;
}
.gs-resize-handle {
    display: none;
}

.generic section {
    /*this part needs better styling - only temporary*/
    margin-bottom: 34px;
    overflow: hidden;
    height:89%;
}

.overlay {
    position:fixed !important;
    top:0 !important;
    left:0 !important;
    margin: 5px;
    width:99% !important;
    height:99% !important;
    z-index:1035 !important;
}