<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pull&bull;Effect</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.gridster.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.gridster.js') }}"></script>
</head>

<body>
{% block body %}
{% endblock %}
{% if session.signed_in %}
<input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav class="main-nav no-select">
    <ul class="nav nav-stacked">
        <li class="logo"><h4>Pull <span class="fa fa-tint" ></span> Effect</h4></li>
        <li>
            <div draggable="true" data-type="roomInfo" type="button" class="btn btn-primary btn-lg fa fa-external-link widget-button" data-toggle="tooltip" data-placement="right" title="Room Info"></div>
        </li>
        <li>
            <div draggable="true" data-type="messages" type="button" class="btn btn-primary btn-lg fa fa-envelope-o widget-button" data-toggle="tooltip" data-placement="right" title="Messages"></div>
        </li>
        <li>
            <div draggable="true" data-type="specialEvents" type="button" class="btn btn-primary btn-lg fa fa-star widget-button"data-toggle="tooltip" data-placement="right" title="Events"></div>
        </li>
        <li>
            <div draggable="true" data-type="calendar" data-toggle="modal" data-target="#configure" type="button" class="btn btn-primary btn-lg fa fa-calendar widget-button" data-toggle="tooltip" data-placement="right" title="Calendar"></div>
        </li>
    </ul>
    <ul class="nav nav-stacked bottom-buttons">
        <li>
            <div class="btn btn-danger btn-lg fa fa-trash-o widget-button" data-toggle="tooltip" data-placement="right" title="Clear all"></div>
            </a>
        </li>
        <li>
            <a href="/gplus/signout" class="btn btn-danger btn-lg fa fa-power-off widget-button" data-toggle="tooltip" data-placement="right" title="Sign out"></a>
        </li>
    </ul> 
</nav>

<div class="page-wrap">
    <label for="main-nav-check" class="toggle no-select">☰</label>
    <div class="gridster">
        <ul> 
        </ul>
    </div>
</div>

<div class="modal fade" id="config-modal" tabindex="-1" role="dialog" aria-labelledby="config-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="config-label">Widget Configuration</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clear-modal" tabindex="-1" role="dialog" aria-labelledby="config-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="config-label">Clear all</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove all of your widgets?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="generic-widget">
    <li class="generic" data-type="<%=widget.type %>" data-time="<%=widget.time %>">
        <header>
            <span><%=typeObject.title %></span>
            <a class="close option" title="Remove this widget">&times;</a>
            <% if(typeObject.configurable) { %>
                <a class="config option" title="Configurations for this widget"><i class="fa fa-cogs"></i></a>
            <% } %>
            <% if(typeObject.expandable) { %>
                <a class="expand option" title="View it full screen"><i class="fa fa-expand"></i></a>
            <% } %>
        </header>
        <section>
        </section>
    </li>
</script>

<script type="text/template" id="room-info-widget">
  <% if(records.length < 1) { %>
    There are no events in this room today.
  <% } else { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
      <% records.forEach(function(event) { %>
        <tr>
          <td>
            <%=event.event_name %>
          </td>
          <td>
            <%=moment(event.event_start).format('h:mm A') %>
          </td>
          <td>
            <%=moment(event.event_end).format('h:mm A') %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</script>

<script type="text/template" id="room-info-config">
  <h4 align="center">Room Info</h4>
  <div class="form-horizontal" role="form">
    <select class="form-control" name="selectedRoom">
      <% rooms.forEach(function(room) { %>
        <option value="<%=room.id %>"<% if(room.id === selectedRoom) { %> selected="selected"<% } %>><%=room.name %> (<%=room.desc %>)</option>
      <% }); %>
    </select>
  </div>
</script>

<script type="text/template" id="messages-widget">
  <% if(messages.length < 1) { %>
    There are no messages.
  <% } else { %>
    <table class="table table-striped">
      <tbody>
      <% messages.forEach(function(message){ %>
        <tr class="<%=setSeverity(message)%>">
          <td><span class="<%=getDeviceIcon(message)%>"/></td>
          <td><%=message.location%></td>
          <td><%=message.title%></td>
          <td><%=message.description%></td>
          <td><%=moment.unix(message.time).format("hh:mm A")%></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } %>
</script>

<script type="text/template" id="special-events-widget">
  <% if(events.length < 1) { %>
    There are no events in the given period.
  <% } else { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Time</th>
          <th>Staff</th>
        </tr>
      </thead>
      <tbody>
      <% events.forEach(function(event) { %>
        <tr>
          <td>
            <%=event.title %>
          </td>
          <td>
            <strong><%=moment(event.start).format('hh:mm A') %></strong>
            <i><%=moment(event.eventStart).format('hh:mm A') %></i>
             <i class="fa fa-long-arrow-right"></i> 
            <i><%=moment(event.eventEnd).format('hh:mm A') %></i>
            <strong><%=moment(event.end).format('hh:mm A') %></strong>
          </td>
          <td>
          <%=(event.shifts.map(function(s) { return s.staff })).join(', ') %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</script>

<script type="text/template" id="special-events-config">
  <h4 align="center">Special Events</h4>
  <div class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Max number of events:</label>
      <div class="col-sm-8">
        <input type="number" class="form-control" name="maxNumber" value="<%=maxNumber%>">
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="calendar-widget">
  <% if(events.length < 1) { %>
    There are no events in the given period.
  <% } else { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
      <% events.forEach(function(event) { %>
        <tr>
          <td>
            <%=event.summary %>
          </td>
          <td>
            <%=moment(event.start.dateTime).format('MM/DD  h:mm A') %>
          </td>
          <td>
            <%=moment(event.end.dateTime).format('MM/DD  h:mm A') %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</script>

<script type="text/template" id="calendar-config">
  Calendar Config Form and Inputs
</script>

<!--   {# 
    <div id="alerts"></div>
    <div class="container">
        {% block body %}{% endblock %}
        {% if session.signed_in %}
        <div class="modal fade" id="configure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Configure Your Dashboard</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#google_config" data-toggle="tab">Google</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="google_config">
                                {% if session.gcal_access_token %}     
                                <div id="calendars">
                                    <button onclick="refreshGoogleCalendarList()" type="submit" class="btn btn-success pull-right" title="Refresh List" alt="Refresh List"><span class="fa fa-refresh"/></button>
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        If you have new calendars that don't appear, click the refresh button.</div>
                                        <div id="google_calendar_list"></div>
                                    </div>
                                    <div id="google_authenticate" style="display:none">
                                        <p class="well">You can use Pull Effect to monitor your Google calendars. All you need to do is click the button below to give Pull Effect access to your calendars, then select the calendars you want displayed on your dashboard.</p>
                                        <form action="{{ url_for('gcal.authenticate') }}" method="get" role="form">
                                            <button type="submit" class="btn btn-info center-block" title="Google Calendar" alt="Google Calendar"><span class="fa fa-calendar" /> Google Calendar</button>
                                        </form>
                                    </div>
                                    {% else %}
                                    <div id="google_authenticate" style="display:none">
                                        <p class="well">You can use Pull Effect to monitor your Google calendars. All you need to do is click the button below to give Pull Effect access to your calendars, then select the calendars you want displayed on your dashboard.</p>
                                        <form action="{{ url_for('gcal.authenticate') }}" method="get" role="form">
                                            <button type="submit" class="btn btn-info center-block" title="Google Calendar" alt="Google Calendar"><span class="fa fa-calendar" /> Google Calendar</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title data-original-title="Close">Cancel</button>
                            <button type="button" onclick='getGoogleCalendarEvents()' class="btn btn-primary" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title data-original-title="Save Changes">Load Calendar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div>
        </div>
    </div>#} -->
    <script>
        $(function() {
            // Display alerts
            displayAlerts({{ get_flashed_messages(with_categories = true) | tojson }});
        });
    </script>
    <script src="{{ url_for('static', filename='js/widget.js') }}"></script>
{% endif %}
    <script src="{{ url_for('static', filename='js/utils/alerts.js') }}"></script>    
</body>
</html>
