<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pull&bull;Effect</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.gridster.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.gridster.js') }}"></script>
    <script src="{{ url_for('static', filename='js/messages/messages.js') }}"></script>
    <script src="{{ url_for('static', filename='js/specialEvents/specialEvents.js') }}"></script>
    <script src="{{ url_for('static', filename='js/google/gcal.js') }}"></script>

</head>

<body>
<style>
.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: silver;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    line-height: 100%;
}

.gridster {
    margin: 0 auto;
    opacity: .8;
    padding-left:3em;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
   
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.generic {
    background-color: white;
}
.generic header {
    cursor:pointer;
    padding:10px;
    background-color:#eaeaea;
}
.generic header .close {
    line-height: inherit;
    cursor:default;
}

.gs-resize-handle {
    display: none;
}

</style>

    <input type="checkbox" class="main-nav-check" id="main-nav-check" />
    <nav class="main-nav no-select" id="main-nav">
        <ul class="nav nav-stacked">
            <li class="logo"><h4>Pull <span class="fa fa-tint" ></span> Effect</h4></li>
            <li>
                <button draggable="true" data-id="message" onclick="renderMessageQueue();" type="button" class="btn btn-primary btn-lg fa fa-exclamation widget-button" style="font-size:2em;"></button>
            </li>
            <li>
                <button draggable="true" data-id="specialEvents" onclick="renderSpecialEventsWidget();" type="button" class="btn btn-primary btn-lg fa fa-star widget-button" style="font-size:2em;"></button>
            </li>
            <li>
                <button draggable="true" data-id="tictactoe" onclick="loadTicTacToe();" type="button" id="includeContent" class="btn btn-primary btn-lg fa fa-th widget-button" style="font-size:2em;"></button>
            </li>
            <li>
                <button draggable="true" data-id="calendar" onclick="renderGcalWidget();" data-toggle="modal" data-target="#configure" type="button" class="btn btn-primary btn-lg fa fa-calendar widget-button" style="font-size:2em;"></button>
            </li>
            <li>
                <button draggable="true" data-id="windows" onclick="" type="button" class="btn btn-primary btn-lg fa fa-windows widget-button" style="font-size:2em;"></button>
            </li>
        </ul>
    </nav>

    <div class="page-wrap" style="background:silver; height:100%;">
        <label for="main-nav-check" class="toggle no-select">☰</label>
            <div class="gridster">
                <ul style="background:silver;"> 
                </ul>
            </div>
    </div>


    <script>
        //these variables should be in closure later on, now keeping them for debugging purposes
        var gridster;
        var PullEffect = {};
        $(function() {
            PullEffect.saveWidgetPositions = function() {
                //some stuff to update the local storage
                console.log(gridster.serialize());
            };

            gridster = $(".gridster ul").gridster({
                widget_base_dimensions: [100, 100],
                widget_margins: [5, 5],
                helper: 'clone',
                resize: {
                    enabled: true,
                    stop: PullEffect.saveWidgetPositions
                },
                serialize_params: function($w, wgd) {
                    //the function to edit to change the way gridster serializes the widgets
                    //widget name etc can be added here
                    return {
                        type: $w.attr('data-id'),
                        col: wgd.col,
                        row: wgd.row,
                        size_x: wgd.size_x,
                        size_y: wgd.size_y
                    }
                },
                draggable: {
                    handle: 'header',
                    stop: PullEffect.saveWidgetPositions
                }
            }).data('gridster');
        });

        jQuery.event.props.push('dataTransfer');

        $('button[draggable=true]').on({
            dragstart: function() {
                $(this).css('opacity', '0.5');
            },
            dragleave: function() {
                $(this).removeClass('over');
            },
            dragenter: function() {
                $(this).addClass('over');
            },
            dragover: function(e) {

            },
            dragend: function(e) {
                $(this).css('opacity', '1');
                widgetOnDrop($(this).attr('data-id'));
            }
        });

        widgetOnDrop = function(widgetName) {
            var widget = {
                name: widgetName
            };
            var $toAdd = $(_.template($('#generic-widget').html(), {
                'widget': widget
            }));
            gridster.add_widget($toAdd, 3, 3);
            PullEffect.saveWidgetPositions();
            //make a request to the server to get data and get data / get template

        };
        $('body').on('click', '.gridster li .close', function(e) {
            var $toRemove = $(this).parent().parent();
            $toRemove.hide(); //hiding first so that users don't feel the delay
            gridster.remove_widget($toRemove);
            PullEffect.saveWidgetPositions();
        });

        (function() {
            var resizable = false;
            $('body').dblclick(function() {
                resizable = !resizable;
                if (resizable === true) {
                    $('.gs-resize-handle').show();
                } else {
                    $('.gs-resize-handle').hide();
                }
            })
        })();
        
    </script>
    <script type="text/template" id="generic-widget">
        <li class="generic" data-id="<%=widget.name%>">
            <header>
                <%=widget.name%>
                <button type="button" class="close">&times;</button>
            </header>
        </li>
    </script>

<!--   {#  <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Pull <span class="fa fa-tint"  /> Effect</a>
            {% if session.signed_in %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span class="navbar-text">{{ session.google_email }}</span>
                </li>
                <li>
                    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#configure" title="Configure" alt="Configure">
                        <span class="fa fa-calendar" />
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-default navbar-btn"  title="Configure" alt="Configure" onclick="loadTicTacToe()">
                        <span class="fa fa-gears" />
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-default navbar-btn"  title="Configure" alt="Configure" onclick="renderMessageQueue()">
                        <span class="fa fa-exclamation" />
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-default navbar-btn"  title="Configure" alt="Configure" onclick="renderSpecialEventsWidget()">
                        <span class="fa fa-star" />
                    </button>
                </li>
                <li>
                    <form id="signout" action="{{ url_for('gplus.signout') }}" method=post class="navbar-form pull-right" role="form">
                        <button type="submit" class="btn btn-warning" title="Sign Out" alt="Sign Out">
                            <span class="fa fa-sign-out" />
                        </button>
                    </form>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% if session.signed_in %}
    <a href="#" class="flap" data-toggle="tooltip">
        <span class="fa fa-bars close-drawer" data-placement="bottom" title data-original-title="Close Drawer" />
    </a>
    {% endif %}
    <div id="alerts"></div>


    <div class="container">
        {% block body %}{% endblock %}
        {% if session.signed_in %}
        <div class="modal fade" id="configure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Configure Your Dashboard</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#google_config" data-toggle="tab">Google</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="google_config">
                                {% if session.gcal_access_token %}     
                                <div id="calendars">
                                    <button onclick="refreshGoogleCalendarList()" type="submit" class="btn btn-success pull-right" title="Refresh List" alt="Refresh List"><span class="fa fa-refresh"/></button>
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        If you have new calendars that don't appear, click the refresh button.</div>
                                        <div id="google_calendar_list"></div>
                                    </div>
                                    <div id="google_authenticate" style="display:none">
                                        <p class="well">You can use Pull Effect to monitor your Google calendars. All you need to do is click the button below to give Pull Effect access to your calendars, then select the calendars you want displayed on your dashboard.</p>
                                        <form action="{{ url_for('gcal.authenticate') }}" method="get" role="form">
                                            <button type="submit" class="btn btn-info center-block" title="Google Calendar" alt="Google Calendar"><span class="fa fa-calendar" /> Google Calendar</button>
                                        </form>
                                    </div>
                                    {% else %}
                                    <div id="google_authenticate" style="display:none">
                                        <p class="well">You can use Pull Effect to monitor your Google calendars. All you need to do is click the button below to give Pull Effect access to your calendars, then select the calendars you want displayed on your dashboard.</p>
                                        <form action="{{ url_for('gcal.authenticate') }}" method="get" role="form">
                                            <button type="submit" class="btn btn-info center-block" title="Google Calendar" alt="Google Calendar"><span class="fa fa-calendar" /> Google Calendar</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title data-original-title="Close">Cancel</button>
                            <button type="button" onclick='getGoogleCalendarEvents()' class="btn btn-primary" data-dismiss="modal" data-toggle="tooltip" data-placement="bottom" title data-original-title="Save Changes">Load Calendar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div>
                {% block maincontent %}
                {% if session.signed_in %}

                <div class="Widgets"></div>


            <div class="panel panel-default col-md-4" id="calendar">
            <table class="table table-striped" id="eventsTable">
            </table> 
            {% endblock %} #}
        </div>
    </div> -->


<!--     {# Import javascript macros #}
    {# all commented out

    <script>
        var dash = {{dashboard | tojson}}

        //Saving url so I can use it my external javascript file
        var messages_url = "{{ url_for('messages.index') }}"
    </script>

    {% from "macros/calendarList.html" import calendarListScripts %}
    {{calendarListScripts()}}
    

    {% if session.signed_in %}
    {% from "macros/calendarEvents.html" import eventScripts %}
    {{eventScripts()}}

    {% endif %} 

    {% from "macros/tictactoe.html" import tictactoe %}
    {{tictactoe()}}

    {% from "macros/preferences.html" import preferences %}
    {{ preferences(dashboard) }}

    #} -->

    <script>
        // if(Modernizr.localstorage) {
        //     displayAlerts('info', 'Let\'s get started!');
        // }
    </script>

    <!-- Import Widget js files -->
    <!-- TODO: session.signed_in needs to be tested for some? -->
    <script src="{{ url_for('static', filename='js/tictactoe/tictactoe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/messages/messageQueue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar/calendarEvents.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar/calendarList.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preferences.js') }}"></script>
    <script src="{{ url_for('static', filename='messages/messages.js') }}"></script>
    
</body>

</html>
